doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/estilos.css")
    link(rel='icon', type='imageª/png', href='imagenes/ico.png')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/jquery.slides.js', type='text/javascript')
    script(src='js/parallax.js')
    title Brian Marriaga
  body
    header
      figure
        img(src="imagenes/profile.jpg", alt="Brian Marriaga")
      .title-page
        h1 Brian Marriaga
        span Comunicador Visual - Diseñador Web
      .contact
        ul
          li: a(href="callto://+584122056628").icon-phone +58 412-2056628
          li: a(href="https://www.behance.net/bmarriaga").icon-behance BMarriaga
          li: a(href="skype:brian_marriaga").icon-skype Brian_Marriaga
          li: a(href="mailto:brianmarriaga@gmail.com").icon-mail brianmarriaga@gmail.com
    main
      section
        article.profile
          h2.icon-profile Perfil
          hr
          p Tengo 23 años, actualmente curso la carrera de Comunicación Visual. Me especializo principalmente en la rama del front-end (Html, CSS y Javascript), aunque continuamente me dedique más al diseño digital como: creaciones de logos efectivos, conceptos de marcas, técnicas de representación digital, entre otras tareas. Poseo conocimientos en la paquetería de Adobe, Final Cut, entre otros softwares de edición. 

          p Amante de las nuevas tecnologías, busco siempre estar al día con las tendencias en el mundo del diseño digital y el diseño web. Proactivo, curioso, con ganas de aprender. Actualmente mi enfoque va dirigido al UX y UI, con la expectativa de que mi trabajo alcance altos estándares a nivel internacional.

          p Conocimientos avanzados en sistemas operativos (Windows, Mac, Linux) y en paqueterías ofimáticas. Acostumbrado a trabajar en equipo para desarrollo de conceptos y organizaciones de proyectos. Conocimientos de marketing digital, posicionamientos en buscadores y redes sociales.

          p Activista en Rotaract, Club Cacique Baruta, desempeñando actualmente el cargo de Tesorero por el periodo 2015-2016. Facilidad para trabajar en comunidades y desarrollar ideas. 
      section.no-wrap
        article.education
          h2.icon-education Educación
          hr
          include modulos/educacion
            
        article.experience
          h2.icon-experience Experiencia
          hr
          include modulos/experiencia
          
      section
        article.skills.center
          h2.icon-skills Habilidades
          hr
          include modulos/niveles

      section
        article.porfolio.center
          h2.icon-porfolio-2 Portafolio
          hr
          include modulos/portafolio
      //- section
      //-   article.contact-form.center
      //-     h2 Formulario
      //-     hr 
      //-     include modulos/formulario
    footer
      .part
        h3 Simple, Conveniente, Adaptable
        span Brian Marriaga
        hr
        p Mi visión del diseño es que debe ser lo bastante simple y entendible. Conveniente a la situación que lo amerite y adaptable en todas sus formas posibles para lograr el alcance y el efecto deseado. En un mundo tan cambiante como lo es la actualidad, los comunicadores debemos estar preparados y a la vanguardia sobre los métodos y estrategias que podamos ofrecer a nuestros clientes con el fin de satisfacer las necesidades de su público.
      .part
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
        p Creative Commons 2016 - Caracas, Venezuela
